<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "Кот и Хлеб"</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{content}}"</h1>

    {% for post in search %}

        <div class="post">
            <img src="{{post['pic']}}" width="100%">
            <p>{{post['content']}} </p>
        </div>

    {% endfor %}
    <hr>
    <a href="/post/" class="button">Добавить пост</a>

</main>
</body>
</html>
